@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Zapomniałem hasła - potwierdzenie</PageTitle>
<h1>Zapomniałem hasła potwierdzenie</h1>
<p>
    Sprawdź swoją skrzynkę e-mail, aby zresetować hasło.
</p>
