@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>Jesteś uwierzytelniony</h1>

<AuthorizeView>
    Cześć @context.User.Identity?.Name!
</AuthorizeView>
