@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">Wystąpił błąd podczas przetwarzania Twojego żądania.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@RequestId</code>
    </p>
}

<h3>Yryb Developmentu</h3>
<p>
    Po przejściu do środowiska <strong>programistycznego</strong> wyświetlone zostaną bardziej szczegółowe informacje o wystąpieniu błędu.
</p>
<p>
    <strong>Środowisko programistyczne nie powinno być włączane dla wdrożonych aplikacji.</strong>
    Może to skutkować wyświetlaniem użytkownikom końcowym poufnych informacji z wyjątków.
    W przypadku debugowania lokalnego włącz środowisko <strong>Development</strong>, ustawiając zmienną środowiskową <strong>ASPNETCORE_ENVIRONMENT</strong> 
    na <strong>Development</strong> i ponownie uruchamiając aplikację.
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() => RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
